<!DOCTYPE HTML>
	<html>
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
			<title>
				Fomulario Tweets
			</title>
		</head>
		<body>
			<h3>
				<form action="/" method="post">
					Nombre usuario en Twitter: <input type="text" name="name1" value="" size="20" maxlength="20" autofocus></br>
					Numero de Tweets que desea ver: <input type="text" name="number" value="" size="10" maxlength="10"></br>
					<input type="submit" value="Enviar">
				</form>
			</h3>
			<% if @nombre == '' %>
				<p> Introducir usuario o usuario incorrecto </p>
			<% else %>
				<p> Usuario: <%= @nombre %> </p>
			<% end %>
			<% if @nombre != '' %>
				<p> <%= @numero %> Tweets: </p>
				<ol> 
					<% @t_tweet.each do |i| %>
						<li><%= i %><br/></li>
					<% end %>
				</ol>
			<% end %> 
		</body>
	</html>
