
			<div id="footer">
				Madelaine Martin Pazo <br/>
				alu0100537130<br/>
				ETSII. Universidad de La Laguna<br/>
			</div> 



				/* Contenido */
				#principal{
					padding: 0em 0em 0em 0em;
					font-family: Arial;
					margin-top: 4em;
					margin-left: 6em;
					margin-bottom: 4em;
					width: 25em;
					float: left;
					font-size: 2em;
				}

				#principal2{
					width: 30em;
					text-align: left;
					font-family: Arial;
					font-size: 1em;
					padding: 2em 2em 2em 2em;
					float: left;
					margin-top: 4em;
					margin-right: 6em;
					margin-bottom: 4em;
				}

				/* Aviso */
				#alerta{
					font-size: 1.5em;
					color: red;
					padding-left: 2em;
					padding-right: 2em;
					padding-top: 0.9em;
					padding-bottom: 0.9em;
				}

				/* Vista tweet */
				#tweet{
					background-color: white;
					color: black;
					text-align: left;
					margin-bottom: 1em;
				}

				/* Pie de página */
				#footer{
					background-color: black;

				}